<div data-aos="fade-down"  data-aos-duration="1000">

    <br><br><br>
    <div class="row nopadding col-12 ">
        <a class="col-1"></a>
        <div class="row col-10 fon">
            <h6 style="text-align: center; margin-top: 10%; ">
                ¿Necesitas algo distinto? <br>
                Adaptación de presupuesto a necesidades personalizadas:<br>
                planes de comunicación digital,<br>
                manejo de sitios web,<br>
                diseño de cartelería gráfica,<br>
                entre otros.<br>
                <a href="https://www.facebook.com/OtroPunt"><img
                        src="https://img.icons8.com/material-outlined/24/ffffff/facebook.png" /></a>
                <a href="https://www.instagram.com/otropunt.o/?hl=es-la"><img
                        src="https://img.icons8.com/material-outlined/24/ffffff/instagram-new--v1.png" /></a>
                <a
                    href="https://mail.google.com/mail/?view=cm&fs=1&to=otropunto.creative@gmail.com&su=Consulta&body=Hola!%20Queria%20consultar%20sobre%20"><img
                        src="https://img.icons8.com/ios/24/ffffff/envelope-dots.png" /></a>
                <br><br><br><br>
            </h6>

            <div class="row">
                <div class="col-6" style="text-align: center;">
                    <img src="https://img.icons8.com/ios-glyphs/20/ffffff/phone--v1.png" />
                    <a>+54 9 3888538224</a><br>
                    <a>DISEÑO GRÁFICO</a><br>
                    <a href="https://api.whatsapp.com/send/?phone=5493888538224&text&app_absent=0"><img
                            src="https://img.icons8.com/ios-glyphs/30/ffffff/whatsapp.png" /></a>
                    <a href="https://www.linkedin.com/in/luciana-castro-4930271b7/"><img
                            src="https://img.icons8.com/fluency-systems-filled/30/ffffff/linkedin.png" /></a>
                    <a href="https://drive.google.com/file/d/1WvrldeUCwueJajfeccSoz8usOvS0lisg/view"><img
                            src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/30/ffffff/external-portfolio-advertising-kiranshastry-solid-kiranshastry.png" /></a>
                    <a href="https://luliivcastroaed5.myportfolio.com/"><img
                            src="https://img.icons8.com/pastel-glyph/25/ffffff/folder-invoices--v2.png" /></a>
                </div>
                <div class="col-6" style="text-align: center;">
                    <img src="https://img.icons8.com/ios-glyphs/20/ffffff/phone--v1.png" />
                    <a>+54 9 3884761851</a><br>
                    <a>MARKETING Y <br>
                        COMUNICACIÓN</a><br>
                    <a href="https://api.whatsapp.com/send/?phone=5493884761851&text&app_absent=0"><img
                            src="https://img.icons8.com/ios-glyphs/30/ffffff/whatsapp.png" /></a>
                    <a href="https://www.linkedin.com/in/florencia-valen-garcia"><img
                            src="https://img.icons8.com/fluency-systems-filled/30/ffffff/linkedin.png" /></a>
                    <a href="https://drive.google.com/file/d/1Qq9UM7BOkMmashkXAm-kROam6WyKoKbs/view?usp=sharing"><img
                            src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/30/ffffff/external-portfolio-advertising-kiranshastry-solid-kiranshastry.png" /></a>
                    <br><br>
                </div>
            </div>

        </div>
        <a class="col-1"></a>
    </div>
    <br><br>

</div>