<div data-aos="fade-up">
    <div class="row nopadding">
        <div class="col-12 row" style="margin-top: 5%;">
            <img class="nopadding col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" src="./../../../assets/img/Tablets.png">
            <h6 class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h1>Que Ofrecemos?</h1><br>
                > Contenido para redes sociales<br><br>
                > Diseños de marca<br><br>
                > Branding<br><br>
                > Logo<br><br>
                > Diseños y redacción de contenidos para redes sociales<br><br>
                > Manejo y gestión de redes sociales mensuales.<br><br>
                > Publicidad <br><br>
                > Asesoría y consultoría de comunicación.
                .
            </h6>
        </div>
    </div>
</div>