<div data-aos="fade-up">
    <div class="row nopadding">
        <div class="col-12 row" style="margin-top: 5%;">
            <div class="nopadding col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img style="width: 50%; margin: auto;
                display: block;" src="./../../../assets/img/Tablets.png">
            </div>
            
            <h6 class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h1>Nuestros servicios </h1><br>
                <li> Contenido para redes sociales </li>
                <li> Diseños de marca</li>
                <li> Branding</li>
                <li> Logo</li>
                <li> Diseños y redacción de contenidos para redes sociales</li>
                <li> Manejo y gestión de redes sociales mensuales.</li>
                <li> Publicidad</li>
                <li> Asesoría y consultoría de comunicación. </li>
                .
            </h6>
        </div>
    </div>
</div>