<div data-aos="fade-down">
    <div class="row nopadding">
        <img class="col-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 " src="./../../../assets/img/luciana.png">
        <img class="col-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 " src="./../../../assets/img/florencia.png">
    </div>

    <div class="col-12 row">
        <div class="row col-11" data-aos="fade-right" style="margin-top: 2%;">
            <h1 class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5" >Quiénes somos</h1>
            <h6 class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5" >     
                Somos un equipo creativo y emprendedor
                especializado en comunicación digital.
                Trabajamos diseños y estrategias para tus
                redes sociales y negocios digitales. 
                <h4 style=" text-align: center; margin-top: 8px;">"La CREATIVIDAD
                no consiste en una nueva manera,
                sino en una nueva visión".</h4> </h6>             
        </div>
        <div class="row col-11" data-aos="fade-left" style="margin-top: 2%;">
            <a class="col-1"></a>
            <h6 class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 order-2 order-md-1">Lo más importante es conocer tus necesidades para crear tu plan personalizado. <br>
                    Creamos estrategias con objetivos y medimos el rendimientos de nuestras acciones para nuestros clientes.
                    <br>
                    ¡Construyamos juntos!
                    </h6>
            <h1 class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 order-1 order-md-2" > ¿Qué es lo que querés comunicar?</h1>
        </div>
        <div class="row col-11" data-aos="fade-right" style="margin-top: 2%;">
            <h1 class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">¿Cómo trabajamos?</h1>
            <h6 class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5" > Creemos en el valor de construir un camino lleno de creatividad y compromiso. <br>
                    Tenemos una forma de trabajo en equipo e interdisciplinario, contamos con nuestros clientes tanto como ellos con nosotras. <br>
                    Le damos responsabilidad y confianza a la creación de productos y estrategias.</h6>
        </div>
    </div>
   
</div>