nav{
    position: fixed;
    top: 0;
    z-index: 1;
    transition: top 0.5s;
    background: linear-gradient(rgba(255, 255, 255, 0.654), rgba(255, 255, 255, 0));
    border-top: none !important;
    border-left: none !important;
}
